[Desktop Entry]
Name=Avnav
Exec=x-www-browser http://localhost:8081
Icon=sailboat48r
StartupNotify=true
Terminal=false
Type=Application
Categories=OpenPlotter
